<div>
    <h3 class="listUserComponentSubtitle">Freunde suchen</h3>
    <p class="listUserInfo d-none" id="eklFriendReqSearchRes"></p>
    <div id="eklFriendReq" class="d-none mt-2 mb-4">
        <button class="listUserActionBtn" id="eklSendFriendReqBtn" listUserId="">Anfrage senden</button>
    </div>
    <div>
        <input type="text" name="name" id="id_name" placeholder="username">
        <button class="listUserActionBtn" type="submit" id="eklLookupListUserBtn">suchen</button>
    </div>
</div>


