<div class="row justify-content-center pt-3 ">
    <div class="col-auto">
        <h3 class="listUserComponentSubtitle">Aktuell ausgewählte Liste: </h3>
        {% if entrys.0.category %}
            <div class="col-auto">
                <h4 class=" text-mein-ivory p-2">{{ entrys.0.category.name }}
                    <span class="text-muted">von {{ entrys.0.category.author }}</span>
                </h4>
                <div class="row">
                    {% if entrys.0.category.shared.all %}
                    geteilt mit:
                    <div class="row">
                        {% for t in entrys.0.category.shared.all %}
                            <p class="text-mein-cornflowerblue">{{ t }}</p>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p class="text-muted">privat</p>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <h4 class="text-muted">keine</h4>
        {% endif %}
    </div>
</div>
    <hr class="border border-2">
    <div id="currentList" class="bg-mein-orange pt-2">
        {% include "einkaufsliste/managelists/singleton.html" %}
    </div>

    {% if entrys.0.category %}
    <div class="row mt-5 text-center">
    <form>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <input id="newItem" class="form-control font-monospace " type="text" placeholder="neu"/>
                <input id="newItemCategoryId" type="hidden" value="{{ entrys.0.category.id }}">
            </div>
        </div>
        <br>
        <button id="eklAddItemBtn" class="btn btn-mein-hellblau border border-5 border-mein-green text-mein-dunkel-grau shadow" type="submit">eintragen</button>
    </form>
    </div>
    {% endif %}

<script>



jQuery(document).on('click', '#eklAddItemBtn', function(e){
 e.preventDefault();
 e.stopImmediatePropagation();
 var newItem = $("#newItem").val()
 var newItemCategoryId = $("#newItemCategoryId").val()
 $.ajax({
        url: "{% url 'manage_lists_add_item_to_list' %}",
        type: "POST",
        data:{
            csrfmiddlewaretoken: '{{ csrf_token }}',
            newItem:newItem,
            newItemCategoryId:newItemCategoryId,

        }, success: function(data){

            $('#currentList').html(data)
        }

    });
});
jQuery(document).on('click', '.eklOrderBtn', function(e){
 e.preventDefault();
 e.stopImmediatePropagation();
 var direction = $(this).attr("direction")
 var itemId = $(this).attr("itemId")
 $.ajax({
        url: "{% url 'manage_lists_order_item' %}",
        type: "POST",
        data:{
            csrfmiddlewaretoken: '{{ csrf_token }}',
            itemId:itemId,
            direction:direction,

        }, success: function(data){
            $('#currentList').html(data)
        }
    });
});


var myTimeout = "";
jQuery(document).on('click', '.eklDeleteBtn', function(e){
    e.preventDefault();
    e.stopImmediatePropagation();

    

    var thebtn = $(this);

    var itemId = thebtn.attr("itemId")
    var stageToDelete = thebtn.attr("stageToDelete")

    var state = 0;
    var callAjax = false;
    if(stageToDelete === "0"){
        thebtn.attr("stageToDelete", 1) // done -> striked
        state=1;
        callAjax = true;
    }
    if(stageToDelete === "1"){
        thebtn.attr("stageToDelete", 2) // red btn -> timer
        thebtn.removeClass("btn-mein-grau").addClass("btn-danger");
        myTimeout = setTimeout(function(){
            thebtn.attr("stageToDelete", 0);
            state=0;
            if(callAjax===false){
                $.ajax({
                url: "{% url 'manage_lists_delete_item' %}",
                type: "POST",
                data:{
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    itemId:itemId,
                    state:state,

                }, success: function(data){
                    $('#currentList').html(data)
                }

            });
            }

        }, 3000);
    }
    if(stageToDelete === "2"){
        thebtn.attr("stageToDelete", 0)
        window.clearTimeout(myTimeout);
      
        state=2;
        callAjax = true;
    }

    if(callAjax === true){
        $.ajax({
            url: "{% url 'manage_lists_delete_item' %}",
            type: "POST",
            data:{
                csrfmiddlewaretoken: '{{ csrf_token }}',
                itemId:itemId,
                state:state,

            }, success: function(data){
                if(data === "Keine Permission"){
                        alert("Nur der Author kann den Artikel löschen.")
                    }

                $('#currentList').html(data)
                   
            }

        });
    }



});


jQuery(document).on('click', '.deleteListBtn', function(e){
    e.preventDefault();
    e.stopImmediatePropagation();
    var categoryId = $(this).attr("categoryId")
    
    $.ajax({
           url: "{% url 'manage_lists_delete_list' %}",
           type: "POST",
           data:{
               csrfmiddlewaretoken: '{{ csrf_token }}',
               categoryId:categoryId,
               
   
           }, success: function(data){
               location.reload();
           }
       });
   });
</script>