{% for e in entrys %}

{% if e.is_active == True %}
<div class="row">
    <div class="btn-group mb-1 mb-lg-3">
        <button class="eklOrderBtn col-1 col-lg-1 btn btn-secondary shadow-lg p-0" direction="up" itemId="{{ e.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </button>
    
    
        {% if e.done == True %}
            <button class="col-10 col-lg-10 eklDeleteBtn btn btn-mein-grau text-white text-decoration-line-through shadow-lg" stageToDelete="1" itemId="{{ e.id }}">
    
    
        {% endif %}
        {% if e.done == False %}
            <button class="col-10 col-lg-10 eklDeleteBtn btn btn-mein-hellblau shadow-lg " stageToDelete="0" itemId="{{ e.id }}">
    
        {% endif %}
            <p class="fs-6 text-break">
                {{ e.text }} <sup class=" text-muted">{{ e.order }}</sup>
            </p>
            <span>{% include 'einkaufsliste/managelists/components/entryinfo.html' %}</span>
        </button>
        <button class="eklOrderBtn col-1 col-lg-1 btn btn-secondary shadow-lg p-0" direction="down" itemId="{{ e.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
            </svg>
        </button>
    </div>
</div>
{% endif %}




{% endfor %}